:root {
    --light-0: #f8f9fa;
    --light-1: #e9ecef;
    --light-2: #dee2e6;
    --dark-0: #495057;
    --dark-1: #343a40;
    --dark-2: #212529;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background-image: url("image/totoro-background-light.jpg");
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

body.dark {
  background-image: url("image/totoro-background-dark.jpg");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  width: 100%;
  height: inherit;
  display: grid;
  place-items: center;
}

input {
  position: absolute;
  visibility: hidden;
}

label {
  display: inline-block;
  background-image: url("image/totoro-light.gif"); 
  background-position: center right ;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  border-radius: 20px;
  height: 38px;
  width: 68px; 
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.6rem 0.1rem;
  transform: scale(3);
}

label .light-dark {
  background: radial-gradient( lightyellow , lightsteelblue);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin: 0.4rem;
  transition: transform 0.5s ease;
  opacity: 0.3;
  box-shadow: rgba(255, 255, 255, 0.4) 0 0 0.6rem 0.1rem;
}

#toggle-button:checked + label {
  background: url("image/totoro-night.gif");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 0.6rem 0.1rem;
}

#toggle-button:checked + label .light-dark {
  background: radial-gradient(var(--dark-1), var(--dark-2));
  transform: translateX(30px);
  box-shadow: rgba(0, 0, 0, 0.4) 0 0 0.6rem 0.1rem;
}

footer {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

footer p {
  color: white;
}

footer address {
  
}

footer address ul {
  display: flex;
  list-style: none;
}


footer address ul li a {
  text-decoration: none;
  color: white;
}